/* Overrides */
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
}

.form-inline .checkbox {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.panel-heading,
.panel-heading:hover,
.panel-heading:active,
.panel-heading:visited,
.panel-heading:focus {
  display: block;
  font-weight: bold;
  text-decoration: inherit;
  color: inherit;
}

/* General */

html {
  height: 100vh;
  width: : 100vw;
}

body {
  font-family: -apple-system , "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

/*input:focus {
  outline: none;
}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.clickable{
  cursor: pointer;
}

.nonclickable {
   pointer-events: none;
   cursor: default;
}

.bold {
  font-weight: bold;
}

/* Themeish */

.btn-dashed {
  border-style: dashed;
}

.margin-auto {
  margin: auto;
}

.reverse {
  transform: rotate(180deg);
}

/* Element based */

.search-bar-container {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
}

.pages-container {
  padding-top: 74px;
}

.search-bar-form-group {
  margin: 14px auto;
}

.search-bar {
  /*padding-right: 44px !important;*/
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25) !important;
}
.search-bar:focus {
  border-color: black;
}
.search-bar.success {
  box-shadow: 0 0 20px 0px rgba(0, 100, 0, 0.25) !important;
  border: 1px solid green !important;
}
.search-bar.error {
  box-shadow: 0 0 20px 0px rgba(100, 0, 0, 0.25) !important;
  border: 1px solid red !important;
}

.search-bar-clear {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 12px;
    font-size: 22px;
    color: #888;
}
@media (min-width: 768px) {
 .search-bar-clear {
    right: 28px;
    top: 26px;
  }
}



.keyword-pill-container {
  margin-top: 10px;
}

.keyword-pill {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  background: white;
  color: #5d5d5d;
}
.keyword-pill:not(:last-child) {
  margin-right: 6px;
}

.keyword-pill.active {
  border: 1px solid #333;
  color: #333;
}

.page-heading {
  font-weight: bold;
  font-size: 16px;
}

.page-heading-note {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #888;
}


#suggestBtn {
  position: fixed;
  bottom: 4px;
  right: 4px;
}