<!DOCTYPE html>
<html lang="en" ng-app="main" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>Koç Links</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="./icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="./icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="./icons/manifest.json">
	<link rel="mask-icon" href="./icons/safari-pinned-tab.svg" color="#8c8c8c">
	<link rel="shortcut icon" href="./icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Koc Links">
	<meta name="application-name" content="Koc Links">
	<meta name="msapplication-config" content="./icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	
</head>
<body ng-controller="mainCtrl">

  <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  
  <div class="text-center" ng-show="loading" style="font-size:120px;padding:120px 0;">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  
  <div class="container search-bar-container" ng-hide="loading" ng-cloak>
    
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
        <div class="form-group form-group-lg search-bar-form-group">
          <input type="search" class="search-bar form-control" ng-model="searchBar" ng-change="filter();" placeholder="Search" ng-class="{'success':searchBar && searchBar.length > 1, 'error':noResult}" autofocus>
          <i class="search-bar-clear fa fa-times" ng-show="searchBar.length > 0" ng-click="searchBar = '';filter();"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container pages-container" ng-hide="loading" ng-cloak>
  
    <div class="row">
      
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12" ng-hide="course.hide" ng-repeat="page in pages track by page.url">
        <div class="panel panel-default">
          <a class="panel-heading page-heading" ng-href="{{page.url}}" target="_blank">
            {{page.title}} <span ng-show="page.note" class="page-heading-note">{{page.note}}</span>
          </a>
          <div class="panel-body" ng-show="page.keywords || page.description">
          
            {{page.description}}
            
            <!-- <a ng-href="{{page.url}}" target="_blank">{{page.url}}</a> -->
            
            <div class="keyword-pill-container" ng-if="page.keywords">
              <div class="keyword-pill clickable" ng-click="setSearch(keyword);" ng-class="{active:keyword.active}" ng-repeat="keyword in page.keywords">{{keyword}}</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div id="suggestBtn" class="btn-group dropup" uib-dropdown is-open="dropdownstatus.isopen" auto-close="outsideClick" ng-controller="suggestCtrl">
  	<button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
  		Suggestion <span class="caret" ng-class="{'reverse':dropdownstatus.isopen}">
  	</button>
  	<div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
  	
  		<form style="padding:10px;">
  			<div class="form-group">
  			<label for="exampleInputEmail1">Page Name</label>
  				<input type="text" class="form-control" ng-model="name">
  			</div>
  			<div class="form-group">
  				<label >Page Description</label>
  				<input type="text" class="form-control" placeholder="(Optional)" ng-model="descr">
  			</div>
  			<div class="form-group">
  			<label for="exampleInputEmail1">Page URL</label>
  				<input type="text" class="form-control" ng-model="url" placeholder="(Optional)">
  			</div>
  			<div class="form-group">
  			<label for="exampleInputEmail1">Keywords<br><span style="font-weight: normal;">(seperate with ",")</span></label>
  				<input type="text" class="form-control" ng-model="keywords" placeholder="(Optional)">
  			</div>
  			<div class="form-group">
  			<label for="exampleInputEmail1">Aditional Comments</label>
  				<input type="text" class="form-control" ng-model="comment" placeholder="(Optional)">
  			</div>
  			<a ng-href="mailto:barissenkal@gmail.com?subject=KocLinksPageSuggestion%20{{Date.now()}}&body={{body}}" class="btn btn-default">Send Suggestion As Email</a>
  		</form>
  		
  	</div>
  </div>

  <script src="js/angular.min.js"></script>
  <script src="js/ui-bootstrap-tpls-2.3.0.min.js"></script>
  <script src="js/app.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-9958704-3', 'auto');
  ga('send', 'pageview');
  </script>
  
</body>
</html>
